VITE_FUEL_NODE_PORT=4000
VITE_DAPP_ENVIRONMENT=local
VITE_FUEL_PROVIDER_URL=http://127.0.0.1:4000/v1/graphql
VITE_FUEL_STATION_SERVER_URL=http://127.0.0.1:3000
# Default funded account on local fuel-core
VITE_FUEL_FUNDER_PRIVATE_KEY=0xde97d8624a438121b86a1956544bd72ed68cd69f2c99555b08b1e8c51ffd511c
VITE_AUTH_TOKEN=